.cantainer{
  width: 100%;
  height: 500px;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
    border: 2px solid chartreuse;
    background-color: rgb(227, 230, 233);
}

.items1{ width: 300px;
    height: 200px;
padding: 20px;
    background-color: rgb(249, 248, 247);
    border-radius: 20px;
    border: 2px solid rgb(236, 233, 235)



}


.h1{color: blue;
    font-size: 50px;
  font-family: "Momo Trust Display", sans-serif;

}

#pera{
    font-size: 26px;
text-transform: capitalize;
  font-family: "Momo Trust Display", sans-serif;
}

#mail{
width: 250px;
height: 20px;
}
#password{
width: 250px;
height: 20px;
}

#login{
width: 250px;
height: 27px;
color: aliceblue;
background-color: blue;
}



#forgotten{
width: 250px;
height: 30px;
color: rgb(26, 26, 188);
text-align: center;
text-transform: capitalize;
  font-family: "Momo Trust Display", sans-serif;
}
#last{
width: 150px;
height: 35px;
color: aliceblue;
background-color: rgb(17, 131, 13);
border-radius: 10px;
}

.last1{
   position: relative;
   left: 50px;
   text-decoration: dashed overline crimson;
}

